<% provide(:title, "Log in") %>
<%= image_tag('ttlogo_whitel&m.png', class: 'login_photo') %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1 class="text-center">Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary-outline btn-block" %>
    </div>


    <% end %>
  </div>
</div>
