<%= form_for(distributor) do |f| %>
<div class="container">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= f.submit "Submit", class: "btn btn-success-outline btn-block" %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Cancel', distributors_path, class: "btn btn-danger-outline btn-block" %>
    </div>

    </div>
  </div>
<% end %>
