<h2 class="dashhead-title">DISTRIBUTORS</h2>
<h1><%= link_to 'New Distributor', new_distributor_path, class: "btn btn-success-outline" %></h1>
<div class="row">
  <% @distributors.each do |distributor| %>
    <div class="col-md-6 p-a-md">
      <div class="statcard-primary">
        <div class="p-a">
          <h2 class="statcard-desc text-center">
            <%= distributor.name %>
          </h2>
          <hr class="statcard-hr">
          <h4 class="statcard-number">
            Total Amount :
            <span class="statcard-number"><%= fa_icon "euro" %><%= distributor.in_invoices.sum('amount') %></span>
          </h4>
          <hr class="statcard-hr">
          <h4 class="statcard-number">
            Paid Amount :
            <span class="statcard-number"><%= fa_icon "euro" %><%= distributor.in_invoices.paid.sum('amount') %></span>
          </h4>
          <hr class="statcard-hr">
          <h4 class="statcard-number">
            Pending Amount :
            <span class="statcard-number"><%= fa_icon "euro" %><%= distributor.in_invoices.pending.sum('amount') %></span>
          </h4>
        </div>
        <div class="statcard statcard-warning text-center">
          <div class="p-a">
            <%= link_to 'Show', distributor, class: "btn btn-pill btn-info" %>
            <%= link_to 'Edit', edit_distributor_path(distributor),class: "btn btn-pill btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
