<h1 class="text-center"><%= @distributor.name %></h1>
<% @distributor.in_invoices.each do |invoice| %>
<div class="col-md-6 p-a-md">
    <div class="<%='statcard statcard-danger' if invoice.pending?%> <%='statcard statcard-success' if invoice.paid?%>">
      <div class="p-a">
        <h4 class="statcard-desc text-center">
        <%= invoice.invoice_number %></h4>
        <hr class="statcard-hr">

          <h4 class="statcard-number">
            Description :
            <span class="statcard-number"><%= invoice.description.upcase %></span>
          </h4>
          <br>
          <h4 class="statcard-number">
            Amount :
            <span class="statcard-number"><%= fa_icon "euro" %> <%= invoice.amount %></span>
          </h4>
      </div>
      <div class="statcard statcard-warning text-center">

        <div class="p-a">
      <%= link_to 'EDIT', edit_in_invoice_path(invoice), class: "btn btn-pill btn-info" %>
      <%= link_to invoice.status.upcase, toggle_status_in_invoice_path(invoice), data: { confirm: 'Are you sure?'}, class: "btn btn-pill btn-primary"  %>

    </div>
    </div>
    </div>

  </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 p-a-md">
      <%= link_to distributors_path, class: "btn btn-default-outline" do %>
      <%= fa_icon 'chevron-left' %>
      BACK
      <% end %>
    </div>
  </div>
