<tr>
  <td>
    <%= user.name.upcase %>
  </td>
  <td class="text-center">
    <span class="badge"><%= user.roles.upcase %></span>
  </td>

  <td class="text-center">
    <%= link_to "UPDATE", edit_user_path(user), class: "btn btn-xs btn-pill btn-warning-outline" %>
  </td>

    <td class="text-center">
      <% if current_user.admin? && !current_user?(user) %>
     <%= link_to "DELETE", user, class: "btn btn-xs btn-pill btn-danger-outline", method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
    </td>
</tr>
