<% provide(:title, "Edit user") %>
<h1>Edit User</h1>
<div class="form-group">
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <% if logged_in? && current_user.admin? %>
      <div class="form-group">
      <%= f.label :roles, "Role" %>

        <%= f.select(:roles, User.roles.keys.map {|roles| [roles.titleize,roles]}, {prompt: "Select Role"}, {class: "form-control"})%>


      </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Save changes", class: "btn btn-primary-outline btn-block" %>
      </div>

    <% end %>

  </div>
</div>
