<% provide(:title, 'USERS') %>
<h2>USERS</h2>

<h1><%= link_to 'New User', new_user_path, class: "btn btn-success-outline" %></h1>

<div class="table-full">
  <div class="table-responsive">
  <table class="table table-bordered table-hover" data-sort="table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-center">Role</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <%= render user %>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
