<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6">

    <%= form_for(@user, url: signup_path) do |f| %>
     <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control"  %>
      </div>
      <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control"  %>
      </div>
      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control"  %>
      </div>
      <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="form-group">
      <%= f.label :roles, "Roles" %>
      <%= f.select("roles", User.roles.keys.map {|roles| [roles.titleize,roles]}, {prompt: "Select Role"}, {class: "form-control"})%>
      </div>
      <div class="actions">
        <%= f.submit "Create User", class: "btn btn-primary-outline btn-block" %>
      </div>

    <% end %>
  </div>
</div>
