<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-6">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </div>
  <div class="col-md-6">
    <%= link_to edit_user_path(@user) do %>
    <button class="btn btn-xs btn-pill btn-warning-outline"><%= fa_icon 'cogs' %>&nbsp;
    Settings
    </button>
    <% end %>
  </div>
</div>
