<% if logged_in? %>
<nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm" aria-expanded="false">
              <span class="sr-only">Toggle nav</span>
            </button>
            <%= link_to( image_tag(('ttlogo_whitel&m.png')),  root_path, class: "sidebar-brand") %>
          </div>

          <div class="nav-toggleable-sm collapse" id="nav-toggleable-sm" aria-expanded="false" style="height: 0px;">
            <ul class="nav nav-pills nav-stacked">
              <% if logged_in? && current_user.admin? %>
              <li>
                <%= link_to distributors_path do %>
                  <span><%= fa_icon 'building-o' %></span>&nbsp;
                  Distributors
                <% end %>
              </li>
              <li>
                <%= link_to in_invoices_path do %>
                  <span><%= fa_icon 'file-text-o' %></span>&nbsp;
                  Invoices
                <% end %>
              </li>
              <li>
                <%= link_to canteen_reports_path do %>
                  <span><%= fa_icon 'home' %></span>&nbsp;
                  Canteen Reports
                <% end %>
              </li>
              <li>
                <%= link_to bank_deposits_path do %>
                  <span><%= fa_icon 'university' %></span>&nbsp;
                  Bank Deposits
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <span><%= fa_icon 'users' %></span>&nbsp;
                  Users
                <% end %>
              </li>
              <% end %>
              <% if logged_in? %>
            <hr />
            <li class="nav-header">Profile</li>
              <li>
                <%= link_to current_user do %>
                  <%= gravatar_for_sidebar current_user %>
                  <%= current_user.name %>
                <% end %>
              </li>


              <li class="divider"></li>
              <li>
                <%= link_to logout_path, method: :delete do %>
                <span><%= fa_icon 'sign-out' %></span>&nbsp;
                Log Out
              <% end %>
              </li>

              <% else %>
              <li>
                <%= link_to login_path do %>
                  <span><%= fa_icon 'sign-in' %></span>&nbsp;
                  Log In
                <% end %>
              </li>
              <% end %>
          </ul>
            <hr class="visible-xs m-t">
          </div>
        </nav>
<% end %>
