<%= form_for(in_invoice) do |f| %>
  <% if in_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(in_invoice.errors.count, "error") %> prohibited this in_invoice from being saved:</h2>

      <ul>
      <% in_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :company_id %>
      <%= f.collection_select :distributor_id, Distributor.all , :id, :name, {prompt: "Select a Company"}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :invoice_number %>
      <%= f.text_field :invoice_number, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :amount %>
      <div class="input-group">
        <span class="input-group-addon">
          <span><%= fa_icon "euro" %></span>
        </span>
      <%= f.text_field :amount, class: "form-control" %>
    </div>
    </div>

    <div class="col-md-6">
      <%= f.submit "Submit", class: "btn btn-success-outline btn-block" %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Cancel', in_invoices_path, class: "btn btn-danger-outline btn-block" %>
    </div>
  </div>
<% end %>
</div>
