<h2 class="dashhead-title">INVOICES</h2>
<h1><%= link_to "New Invoice", new_in_invoice_path, class: 'btn btn-success-outline' %></h1>
<div class="table-full">
  <div class="table-responsive">
    <table class="table table-bordered table-hover" data-sort="table">
      <thead>
        <tr>
          <th class="sorter-shortDate dateFormat-ddmmyyyy">Date</th>
          <th>Company:</th>
          <th>Invoice number</th>
          <th class="text-center">Amount</th>
          <th>Status</th>
        </tr>
      </thead>

  <tbody>
    <% @in_invoices.each do |in_invoice| %>
      <tr>
        <td><%= in_invoice.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to in_invoice.distributor.name, distributor_path(in_invoice.distributor) %></td>
        <td><%= link_to in_invoice.invoice_number, in_invoice %></td>
        <td class="text-center"><span class="<%='badge badge-danger' if in_invoice.pending?%> <%='badge badge-success' if in_invoice.paid?%>"><%= fa_icon "euro" %><%= in_invoice.amount%></span></td>
        <td><%= link_to in_invoice.status.upcase, toggle_status_in_invoice_path(in_invoice), data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-warning-outline btn-block" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
