<div class="col-md-8 p-a-md">
    <div class="<%='statcard statcard-danger' if @in_invoice.pending?%> <%='statcard statcard-success' if @in_invoice.paid?%>">
      <div class="p-a">
        <h4 class="statcard-desc text-center"><%= link_to @in_invoice.distributor.name, distributor_path(@in_invoice.distributor) %></h4>
        <hr class="statcard-hr">
        <h4 class="statcard-number">
          Invoice Number :
          <span class="statcard-number"><%= @in_invoice.invoice_number %></span>
        </h4>
        <br>
          <h4 class="statcard-number">
            Description :
            <span class="statcard-number"><%= @in_invoice.description.upcase %></span>
          </h4>
          <br>
          <h4 class="statcard-number">
            Amount :
            <span class="statcard-number"><%= fa_icon "euro" %> <%= @in_invoice.amount %></span>
          </h4>
      </div>
      <div class="statcard statcard-warning text-center">

        <div class="p-a">
      <%= link_to 'EDIT', edit_in_invoice_path(@in_invoice), class: "btn btn-pill btn-info" %>
      <%= link_to @in_invoice.status.upcase, toggle_status_in_invoice_path(@in_invoice), data: { confirm: 'Are you sure?'}, class: "btn btn-pill btn-primary"  %>
      <%= link_to 'BACK', in_invoices_path, class: "btn btn-pill btn-danger" %>
    </div>
    </div>
    </div>

  </div>
