<%= form_for(deposit) do |f| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
      <% deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :date %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "calendar" %></span>
          </span>
          <%= f.text_field :date, id: "datepicker",  class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :cash %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :cash, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :cheque %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :cheque, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <%= f.submit "Submit", class: 'btn btn-success-outline btn-block' %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Cancel', bank_deposits_path, class: 'btn btn-danger-outline btn-block' %>
      </div>
    </div>
  </div>
<% end %>
<script>
$('#datepicker').datepicker();
</script>
