<h2>BANK DEPOSITS</h2>
  <h1><%= link_to 'NEW DEPOSIT', new_bank_deposit_path, class: "btn btn-success-outline" %></h1>
  <div class="table-full">
    <div class="table-responsive">
      <table class="table table-bordered" data-sort="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Cash</th>
            <th>Cheques</th>
            <th>Total</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @deposits.each do |deposit| %>
            <tr>
              <td><span class="badge badge-info"><%= deposit.date.strftime("%d/%m/%Y")%></span></td>
              <td><span class="badge badge-primary"><%= fa_icon "euro" %><%= deposit.cash %></span></td>
              <td><span class="badge badge-primary"><%= fa_icon "euro" %><%= deposit.cheque %></span></td>
              <td><span class="badge badge-success"><%= fa_icon "euro" %><%= deposit.cash + deposit.cheque %></td>
              <td class="text-center"><%= link_to 'UPDATE', edit_bank_deposit_path(deposit), class: "btn btn-xs btn-pill btn-warning-outline" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
