<%= form_for(canteenreport) do |f| %>
  <% if canteenreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(canteenreport.errors.count, "error") %> prohibited this canteenreport from being saved:</h2>

      <ul>
      <% canteenreport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :date %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "calendar" %></span>
          </span>
          <%= f.text_field :date, id: "datepicker",  class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :field_rentals %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :field_rentals, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :canteen %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :canteen, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :coffee %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :coffee, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :expenses %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :expenses, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :z_number %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "hashtag" %></span>
          </span>
          <%= f.number_field :z_number, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :z_total %>
        <div class="input-group">
          <span class="input-group-addon">
            <span><%= fa_icon "euro" %></span>
          </span>
          <%= f.text_field :z_total, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <%= f.submit "Submit", class: 'btn btn-success-outline btn-block' %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Cancel', canteen_reports_path, class: 'btn btn-danger-outline btn-block' %>
      </div>
    </div>
  </div>
<% end %>
<script>
$('#datepicker').datepicker();
</script>
