<h2>CANTEEN REPORTS</h2>
  <h1><%= link_to 'NEW REPORT', new_canteen_report_path, class: "btn btn-success-outline" %></h1>
  <div class="table-full">
    <div class="table-responsive">
      <table class="table table-bordered" data-sort="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Field rentals</th>
            <th>Canteen</th>
            <th>Coffee</th>
            <th>Expenses</th>
            <th>
              Total
            </th>
            <th>Znumber</th>
            <th>Ztotal</th>
            <th colspan="2" class="text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @canteenreports.each do |canteen_report| %>
            <tr>
              <td><span class="badge badge-info"><%= canteen_report.date.strftime("%d/%m/%Y")%></span></td>
              <td><span class="badge badge-primary"><%= fa_icon "euro" %><%= canteen_report.field_rentals %></span></td>
              <td><span class="badge badge-primary"><%= fa_icon "euro" %><%= canteen_report.canteen %></span></td>
              <td><span class="badge badge-primary"><%= fa_icon "euro" %><%= canteen_report.coffee %></span></td>
              <td><span class="badge badge-danger"><%= fa_icon "euro" %><%= canteen_report.expenses %></span></td>
              <td><span class="badge badge-success"><%= fa_icon "euro" %><%= canteen_report.field_rentals + canteen_report.canteen + canteen_report.coffee - canteen_report.expenses %></td>
              <td><span class="badge badge-info"><%= canteen_report.z_number %></span></td>
              <td><span class="badge badge-success"><%= fa_icon "euro" %><%= canteen_report.z_total %></span></td>
              <td><%= link_to 'UPDATE', edit_canteen_report_path(canteen_report), class: "btn btn-xs btn-pill btn-warning-outline" %></td>
              <td><%= link_to 'DELETE', canteen_report, class: "btn btn-xs btn-pill btn-danger-outline", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
