<!DOCTYPE html>
<html>
  <head>
    <title>TwentyTwoLeisure</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 sidebar">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="col-sm-9 content">
          <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
          <%= yield %>
        </div>
      </div>

    </div>
  </body>
</html>
